.card {
    padding: 15px 20px;
    color: rgb(81, 114, 79);

}

.img {
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 1.4rem;
}

.p {
    font-size: 1.4rem;
}

.btn {
    border: none;
    padding: 4px 30px;
    font-size: 1.4rem;
    margin: 10px auto 30px auto;
    color: rgb(81, 114, 79);
}


@media (min-width: 1100px) {
    .card {
        flex-direction: row;
        flex: 0 0 33.333333%;
        justify-content: space-between;
        
        /* margin: 10px 100px; */
    }
}